<div class="container col-md-6">
  <div class="card">
      <div class="card-header">
          <h3>
              Editar producto
          </h3>
          <div class="card-body">
              <form action="">
                  <div class="form-group">
                      <label for="">Nombre:</label>                      
                      <input [(ngModel)]="product.name" name="name" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="">Descripcion:</label>
                      
                      <input [(ngModel)]="product.description" name="description" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="">Precio:</label>
                      
                      <input [(ngModel)]="product.price" name="price" type="number" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="">Imagen:</label>
                      
                      <input [(ngModel)]="product.image" name="image" type="text" class="form-control">
                  </div>
                  <button (click)="Guardar(product)" class="btn btn-danger" style="margin-top: 20px;">Guardar</button>
              </form>
          </div>
      </div>
  </div>
</div>
