<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/Head.ejs');%>
    </head>
<body>
    <header>
        <%- include('./partials/Header.ejs');%>
    </header>
    <p style="text-align: center;">Acceso no autorizado. Por favor inicie sesion <a href="/login">aqui</a
      ></p>
    <footer>
        <%-include('./partials/Footer.ejs');%>
    </footer>
</body>

</html>