<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/Head.ejs');%>
    </head>
<body>
    <header>
        <%- include('./partials/Header.ejs');%>
    </header>
    <div style="display: flex; text-align: center; ">     
        <%= error %>
      </div> 
      <p style="text-align: center;"> Volver al <a href="/home">inicio</a></p>
    <footer>
        <%-include('./partials/Footer.ejs');%>
    </footer>
</body>

</html>