<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/Head.ejs');%>
    </head>
  <body>
      <script src="/scripts/validateRegister.js"></script> 
    <header>
        <%- include('./partials/Header.ejs');%>        
    </header>
    <main>
      <div class="logo">
        <img
          style="margin: 2px; max-width: 8%; border-radius: 50%"
          id="main-logo"
          src="/images/MotoStore-logos.jpeg"
          alt="main-logo"
        />
      </div>
       <div style="display: flex; ">     
        <ul>
        <% for(var i=0; i<errores.length; i++) {%>
           <li><%= errores[i].msg %></li>
        <% } %>
        </ul>
      </div>      

      <div class="login">
        <form name=register class="login-form" action="/register" method="POST" >
            <input class="login-input" type="text" name="name" placeholder="Nombre">
            <input class="login-input" type="text" name="lastname" placeholder="Apellido">
            <input class="login-input" type="text" name="email" placeholder="E-mail">
            <input class="login-input" type="text" name="birthday" placeholder="Fecha de nacimiento">
            <input class="login-input" type="text" name="username" placeholder="Nombre de Usuario">
            <input class="login-input" type="password" name="password" placeholder="Contraseña">
            <input class="login-input" type="password" name="re_password" placeholder="Repetir Contraseña">
            
            <input type="button" class="login-buttons" value="Registrarse" onclick="valida_envia()">
        </form>
      </div>
    </main>
    <footer>
        <%-include('./partials/Footer.ejs');%>
    </footer>
  </body>
</html>
