<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/Head.ejs');%>
</head>

<body>
    <header>
        <%- include('./partials/Header.ejs');%>
    </header>
    <section class="checkout">
        <div class="products-checkout-list">
          <div class="product-image-checkout">
            <img src="/images/product_1.jpg" alt="image-producto" />
          </div>
          <div class="product-qty">
            <div>
              <p>AGV Pista GPR</p>
            </div>
            <div class="product-qty-buttons">
              <button class="qty-buttons"><i class="material-icons">remove</i></button>
              <p style="width: 10%; padding-left: 5%;">1</p>
              <button class="qty-buttons"><i class="material-icons">add</i></button>
            </div>
          </div>
          <div class="product-price">
            <div>
              <button class="checkout-buttons"><i class="material-icons">delete</i></button>
              <p>$999</p>            
            </div>
          </div>
         </div>
         <div class="products-checkout-list">
          <div class="product-image-checkout">
            <img src="/images/product_1.jpg" alt="image-producto" />
          </div>
          <div class="product-qty">
            <div>
              <p>AGV Pista GPR</p>
            </div>
            <div class="product-qty-buttons">
              <button class="qty-buttons"><i class="material-icons">remove</i></button>
              <p style="width: 10%; padding-left: 5%;">1</p>
              <button class="qty-buttons"><i class="material-icons">add</i></button>
            </div>
          </div>
          <div class="product-price">
            <div>
              <button class="checkout-buttons"><i class="material-icons">delete</i></button>
              <p>$999</p>            
            </div>
          </div>
         </div>
         <div class="products-checkout-list">
          <div class="product-image-checkout">
            <img src="/images/product_1.jpg" alt="image-producto" />
          </div>
          <div class="product-qty">
            <div>
              <p>AGV Pista GPR</p>
            </div>
            <div class="product-qty-buttons">
              <button class="qty-buttons"><i class="material-icons">remove</i></button>
              <p style="width: 10%; padding-left: 5%;">1</p>
              <button class="qty-buttons"><i class="material-icons">add</i></button>
            </div>
          </div>
          <div class="product-price">
            <div>
              <button class="checkout-buttons"><i class="material-icons">delete</i></button>
              <p>$999</p>            
            </div>
          </div>
         </div>
        <div class="products-total">
          <p>TOTAL</p>
          <p>$$$$</p>
          <button class="pay-button">PAGAR</button>
        </div>
      </section>

<footer>
    <%-include('./partials/Footer.ejs');%>
</footer>
</body>

</html>