<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Detail Product</title>
  </head>
  <body>
    <header>
      <h2 class="menu-inicio" style="color: var(--primary)">MotoStore</h2>
      <ul class="menu-inicio">
        <li>INICIO</li>
        <li>PRODUCTOS</li>
        <li>INGRESAR</li>
      </ul>
      <div class="menu-burger"><i class="material-icons">menu</i></div>
    </header>
    <section class="checkout">
      <div class="products-checkout-list">
        <div class="product-image-checkout">
          <img src="/images/product_1.jpg" alt="image-producto" />
        </div>
        <div class="product-qty">
          <div>
            <p>AGV Pista GPR</p>
          </div>
          <div class="product-qty-buttons">
            <button class="qty-buttons"><i class="material-icons">remove</i></button>
            <p style="width: 10%; padding-left: 5%;">1</p>
            <button class="qty-buttons"><i class="material-icons">add</i></button>
          </div>
        </div>
        <div class="product-price">
          <div>
            <button class="checkout-buttons"><i class="material-icons">delete</i></button>
            <p>$999</p>            
          </div>
        </div>
       </div>
       <div class="products-checkout-list">
        <div class="product-image-checkout">
          <img src="/images/product_1.jpg" alt="image-producto" />
        </div>
        <div class="product-qty">
          <div>
            <p>AGV Pista GPR</p>
          </div>
          <div class="product-qty-buttons">
            <button class="qty-buttons"><i class="material-icons">remove</i></button>
            <p style="width: 10%; padding-left: 5%;">1</p>
            <button class="qty-buttons"><i class="material-icons">add</i></button>
          </div>
        </div>
        <div class="product-price">
          <div>
            <button class="checkout-buttons"><i class="material-icons">delete</i></button>
            <p>$999</p>            
          </div>
        </div>
       </div>
       <div class="products-checkout-list">
        <div class="product-image-checkout">
          <img src="/images/product_1.jpg" alt="image-producto" />
        </div>
        <div class="product-qty">
          <div>
            <p>AGV Pista GPR</p>
          </div>
          <div class="product-qty-buttons">
            <button class="qty-buttons"><i class="material-icons">remove</i></button>
            <p style="width: 10%; padding-left: 5%;">1</p>
            <button class="qty-buttons"><i class="material-icons">add</i></button>
          </div>
        </div>
        <div class="product-price">
          <div>
            <button class="checkout-buttons"><i class="material-icons">delete</i></button>
            <p>$999</p>            
          </div>
        </div>
       </div>
      <div class="products-total">
        <p>TOTAL</p>
        <p>$$$$</p>
        <button class="pay-button">PAGAR</button>
      </div>
    </section>
    <footer >
      <div>
        <ul class="footer-list">
          <li>Acerca de</li>
          <li>Registrarse</li>
          <li>Contacto</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
