<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h2 class="menu-inicio" style="color: var(--primary)">MotoStore</h2>
      <ul class="menu-inicio">
        <li>INICIO</li>
        <li>PRODUCTOS</li>
        <li>INGRESAR</li>
      </ul>
      <div class="menu-burger"><i class="material-icons">menu</i></div>
    </header>
    <main>
      <div class="logo">
        <img
          style="margin: 2px; max-width: 8%; border-radius: 50%"
          id="main-logo"
          src="/images/MotoStore-logos.jpeg"
          alt="main-logo"
        />
      </div>
      <h2>Productos</h2>
      <div class="listado">
        <article>
          <div class="picture">
            <img
              class="product-image"
              src="/images/product_1.jpg"
              alt="product-1"
            />
          </div>
          <div class="buttons">
            <button><i class="material-icons">shopping_cart</i></button>
            <button>Ver Mas</button>
          </div>
        </article>
        <article>
          <div class="picture">
            <img
              class="product-image"
              src="/images/product_1.jpg"
              alt="product-1"
            />
          </div>
          <div class="buttons">
            <button><i class="material-icons">shopping_cart</i></button>
            <button>Ver Mas</button>
          </div>
        </article>
        <article>
          <div class="picture">
            <img
              class="product-image"
              src="/images/product_1.jpg"
              alt="product-1"
            />
          </div>
          <div class="buttons">
            <button><i class="material-icons">shopping_cart</i></button>
            <button>Ver Mas</button>
          </div>
        </article>
      </div>
    </main>
    <footer>
      <div>
        <ul class="footer-list">
          <li>Acerca de</li>
          <li>Registrarse</li>
          <li>Contacto</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
