<footer>
    <div>
      <ul class="footer-list">
        <li>Acerca de</li>
        <a href="/register" style="text-decoration: none; color: var(--secondary)"><li>Registrarse</li></a>
        <li>Contacto</li>
      </ul>
    </div>
  </footer>