<header>
    <h2 class="menu-inicio" style="color: var(--primary)">MotoStore</h2>
    <ul class="menu-inicio">
      <li><a href="/home" style="text-decoration: none; color: var(--secondary)">Inicio</a></li>
      <li><a href="/home" style="text-decoration: none; color: var(--secondary)">Productos</a></li>
      <li><a href="/login" style="text-decoration: none; color: var(--secondary)">Ingresar</a></li>
    </ul>
    <div class="menu-burger"><i class="material-icons">menu</i></div>
  </header>