<header>
    <h2 class="menu-inicio" style="color: var(--primary)">MotoStore</h2>
    <ul class="menu-inicio">
      <li>INICIO</li>
      <li>PRODUCTOS</li>
      <li>INGRESAR</li>
    </ul>
    <div class="menu-burger"><i class="material-icons">menu</i></div>
  </header>